.items_d
{
    height: 35vh !important;
    overflow-y: scroll !important;
}
.items_s
{
    height: 32vh !important;
    overflow-y: scroll !important;
}

.bg-theme{
    background-color: #041e54;
}

.theme{
    color: #041e54;
}